@charset "utf-8";

@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 400;
    src:
        url("/font/NotoSansKR-Regular.woff2") format('woff2'),
        url("/font/NotoSansKR-Regular.woff") format('woff'),
        url("/font/NotoSansKR-Regular.otf") format('opentype');
}

@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 500;
    src:
        url("/font/NotoSansKR-Medium.woff2") format('woff2'),
        url("/font/NotoSansKR-Medium.woff") format('woff'),
        url("/font/NotoSansKR-Medium.otf") format('opentype');
}

@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 700;
    src:
        url("/font/NotoSansKR-Bold.woff2") format('woff2'),
        url("/font/NotoSansKR-Bold.woff") format('woff'),
        url("/font/NotoSansKR-Bold.otf") format('opentype');
}

* {
    font-family: 'NotoSansKR', sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    text-align: left;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: -1px;
    font-family: 'NotoSansKR', sans-serif;
}

h2 {
    position: relative;
}

h2:before {
    content: '';
    display: inline-block;
    background: url('/img/content/h2.png') no-repeat;
    width: 22px;
    height: 21px;
    position: absolute;
    left: 0px;
    top: 4px;
}

.cotn_title0 {
    font-size: 25px;
    font-weight: 600;
    overflow: hidden;
}

.cotn_title1 {
    margin: 30px 0 15px 0;
    padding-left: 30px;
    font-size: 20px;
    color: #333;
    font-weight: 800;
    line-height: 29px;
    font-family: 'NotoSansKR';
}

.cotn_title2 {
    margin: 17px 20px;
    font-size: 18px;
    color: #7c64ff;
    font-weight: 800;
}

.cotn_title3 {
    margin: 15px 0px 10px 0px;
    font-size: 18px;
    color: #333;
    font-weight: 800;
}


.StatusIndication {
    background-color: #7C64FF;
    position: absolute;
    right: 0px;
    top: 0px;
    opacity: 0.8;
    display: inline-block;
    padding: 13px 17px;
    text-align: center;
    color: #fff;
    line-height: 18px;
    font-size: 15px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_wrap .StatusIndication {
    font-size: 13px;
    width: 40px;
    height: 33px;
    padding: 6px;
}

.cotn_text1 {
    font-family: 'NotoSansKR';
    color: #333;
    font-size: 16px;
}

.indent {
    margin-left: 30px;
}

.box-line {
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 30px;
}

.num,
.eng {
    letter-spacing: 0px !important;
}

.em {
    color: #7c64ff;
}

.em2 {
    color: #bf49fc;
}

.font16 {
    font-size: 16px;
}

.font18 {
    font-size: 18px;
}

.font20 {
    font-size: 20px;
}

.font22 {
    font-size: 22px;
}

.font24 {
    font-size: 24px;
}

.font26 {
    font-size: 26px;
}

.tac {
    text-align: center;
}

.tal {
    text-align: left;
}

.tar {
    text-align: right;
}

.tac-f {
    display: flex;
    justify-content: center;
}

.scroll-w {
    overflow-x: auto;
}

.scroll-h {
    overflow-y: auto;
}

.h-100 {
    max-height: 100px;
}

.h-200 {
    max-height: 200px;
}

.h-300 {
    max-height: 300px;
}

.blind {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    /* opacity:0;filter:alpha(opacity=0);*/
}

.ellipsis {
    /*    display: inline-block;  table에서 틀어져서 주석처리 */
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cr:after {
    display: block;
    clear: both;
    content: '';
}

.cr-after:after {
    display: block;
    clear: both;
    content: '';
}

/* 별점 */
.star {
    margin-top: 10px;
    text-align: left;
    display: block;
}

.star img {
    display: inline-block;
    margin-right: 7px;
    vertical-align: middle;
}

.star span {
    display: inline-block !important;
    vertical-align: middle;
    color: #333 !important;
    font-size: 16px !important;
    overflow: visible !important;
}

/* //별점 */

.relative {
    position: relative;
}

.br-1200,
.br-900,
.br-600,
.br-600 {
    display: none;
}

.mt0 {
    margin-top: 0px !important;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}

.mb0 {
    margin-bottom: 0px !important;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb50 {
    margin-bottom: 50px;
}

/* float */
.boxing {
    overflow: hidden
}

.boxing:after {
    clear: both;
    content: '';
    display: block;
    font-size: 0
}

.boxing .leftbox {
    float: left
}

.boxing .rightbox {
    float: right
}

.boxing .centerbox {
    float: left
}

/* //float */

/* sub-tab */
.sub-tab.mt100 {
    margin-top: 100px;
}

.sub-tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 0;
    text-align: center;
}

.sub-tabs:after {
    content: '';
    display: block;
    clear: both;
}

.sub-tabs li {
    display: inline-block;
    text-align: center;
    color: #6D7B91;
    background-color: #fff;
    border: 1px solid #e0e6ef;
    box-sizing: border-box;
    cursor: pointer;
    padding: 13px 0;
    font-size: 16px;
    margin-right: -1px;
    min-width: 300px;
}

.sub-tabs.col5 li {
    min-width: 200px;
}

.sub-tabs li:last-child {
    margin-right: 0;
}

.sub-tabs li:first-child {}

.sub-tabs li:first-child.current {}

.sub-tabs li.current {
    font-weight: bold;
    color: #0A276D;
    border: 2px solid #0A276D;
    box-sizing: border-box;
    margin-right: 0;
}

.tab-content {
    max-width: 1200px;
    margin: 0 auto;
    display: none;
    margin-top: 70px;
    margin-bottom: 70px;
}

.tab-content.current {
    display: inherit;
}

/* //sub-tab */

/* color */
.f_aaa {
    color: #aaa;
    vertical-align: top
}

.f_sky {
    color: #2f74b5 !important;
    vertical-align: top
}

.f_red {
    color: #cb0a2e !important;
    vertical-align: top
}

.f_org {
    color: #f5822b !important;
    vertical-align: top
}

.f_green {
    color: #00b050 !important;
    vertical-align: top
}

.f_222 {
    color: #222 !important;
    vertical-align: top
}

.f_888 {
    color: #888 !important;
    vertical-align: top
}

.f_999 {
    color: #999 !important;
    vertical-align: top
}

.CategoryTag,
.cultureCal .bot ul li .right .tag {
    text-align: center;
    color: white;
    margin-bottom: 10px;
    display: inline-block;
    padding: 2px 5px;
    font-size: 14px;
    border-radius: 4px;
}

.CategoryTag.order1,
.tag.order1 {
    /* 연극 */
    background-color: #2a602b;
}

.CategoryTag.order2,
.tag.order2 {
    /* 뮤지컬 */
    background-color: #2196F3;
}

.CategoryTag.order3,
.tag.order3 {
    /* 클래식 */
    background-color: #3f51b5;
}

.CategoryTag.order4,
.tag.order4 {
    /* 콘서트 */
    background-color: #d33200;
}

.CategoryTag.order5,
.tag.order5 {
    /* 무용 */
    background-color: #673ab7;
}

.CategoryTag.order6,
.tag.order6 {
    /* 전시 */
    background-color: #00708b;
}

.CategoryTag.order7,
.tag.order7 {
    /* 전통예술 */
    background-color: #D29953;
}

.CategoryTag.order8,
.tag.order8 {
    /* 기타 */
    background-color: #444;
}
.CategoryTag.order9,
.tag.order9 {
    /* 오페라 */
    background-color: #05a1a7;
}

.bg-f7f7f7 {
    background-color: #f7f7f7 !important;
}

.bg-white {
    background-color: #fff !important;
}

.bg-gray1 {
    background-color: #5c5c5c !important;
}

.bg-purple {
    background-color: #7c64ff !important;
}

.br-purple {
    border-color: #7c64ff;
}

/* //color */

/* table style1 */
.t1 {
    width: 100%;
    border-top: 1px solid #333;
}

.t1 th {
    font-weight: bold;
    color: #333;
    background: #f3f3f3;
    padding: 9px 10px;
    border-bottom: 1px solid #aeb4bd;
    border-right: 0px solid #aeb4bd;
}

.t1 td {
    color: #333;
    border-bottom: 1px solid #ddd;
    word-break: break-all;
}

/* //table style1 */

/* 반응형 form */
.rwd-table td:before {
    content: attr(data-th);
    display: inline-block;
    font-weight: 500;
    background-color: #F6F7F9;
    line-height: 50px;
    width: 100px;
    text-align: center;
    margin-right: 8px;
}

.rwd-table input[type=text] {
    background-color: #fff;
    border-radius: 0;
    border: 1px solid #dddddd;
    height: 30px;
    display: inline-block;
    text-indent: 10px;
    margin-top: -4px;
}

input.phonenum {
    width: 52px;
}

input.email {
    width: 160px;
}

.wave:after {
    content: '~';
    display: inline-block;
}

.slash:after {
    content: '/';
    font-size: 15px;
    vertical-align: middle;
    margin-right: 2px;
}

.hyphen:after {
    content: '-';
    font-size: 15px;
    vertical-align: middle;
}

.icon-email:after {
    content: '@';
    font-size: 15px;
    vertical-align: middle;
}

/* //반응형 form */


.t-fix {
    table-layout: fixed;
}

table.tal > * > tr > th,
table.tal > * > tr > td {
    text-align: left !important;
}

table > * > tr > th.tal,
table > * > tr > td.tal {
    text-align: left !important;
}

.t3-info-top,
.t3-info-bottom {
    display: none;
}

table.t3.tal > th,
table.t3.tal > td {
    text-align: left;
}

table.t3.tac > th,
table.t3.tac > td {
    text-align: center;
}

table.t3.tar > th,
table.t3.tar > td {
    text-align: right;
}

table.t3 {
    width: 100%;
    border: 0;
    border-collapse: collapse;
    border-top: 2px solid #0A276D;
    box-sizing: border-box;
    table-layout: fixed;
    /* table-layout: fixed; 테이블내에서 말줄임 속성을 사용하기위해 테이블에 필요한 속성*/
    letter-spacing: -0.2px;
}

table.t3 > * > tr > th,
table.t3 > * > tr > td {
    padding: 14px 10px;
    border-bottom: 1px solid #ddd;
    border-width: 0 0 1px 1px;
    box-sizing: border-box;
    text-align: center;
    color: #333;
}

table.t3 > tbody > tr:last-child > th,
table.t3 > tbody > tr:last-child > td {
    border-bottom: 1px solid #0A276D;
    box-sizing: border-box;
}

table.t3 > tbody > tr > th.last,
table.t3 > tbody > tr > td.last {
    border-color: #0A276D;
}

/* .last 셀병합했을때 마지막셀 하단 선색 추가 */
table.t3 > * > tr > th {
    font-weight: 600;
}

table.t3 > thead > tr > th {
    background-color: #F0F2F5;
    border-bottom: 1px solid #0A276D;
    box-sizing: border-box;
}

table.t3 > tbody > tr > th {
    font-weight: normal;
    background-color: #fff;
}

table.t3 > tbody > tr > td {
    background-color: #fff;
}

table.t3 > tbody .tal {
    text-align: left;
}

.t3-p-top {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
}

.t3-p-bottom {
    font-size: 14px;
    font-weight: 600;
    margin-top: 15px;
}

ul.list-1 {}

ul.list-1 li {
    padding-left: 15px;
    text-align: left;
}

ul.list-1 li:before {
    display: inline-block;
    content: '-';
    margin-left: -15px;
    margin-right: 5px;
}

ul.list-1 li a:hover {
    color: #0a276d;
    font-weight: bold;
    text-decoration: underline;
    text-underline-position: under;
}

dl.list-2 {}

dl.list-2 dt:before {
    display: block;
    content: '';
    width: 20px;
    height: 2px;
    background-color: #f3ad36;
    margin-bottom: 15px;
}

dl.list-2 dt {}

dl.list-2 dd {
    margin-bottom: 20px;
}

ul.list-3 {}

ul.list-3 li {
    padding-left: 15px;
    margin-bottom: 5px;
}

ul.list-3 li:before {
    display: inline-block;
    content: '√';
    font-weight: bold;
    margin-left: -15px;
    margin-right: 10px;
    color: #f3ad36;
}

ol.list-1 {}

ol.list-1 > li {
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 16px;
}

ol.list-1 > li:last-child {
    margin-bottom: 0;
}

ol.list-1 > li:nth-child(1):before {
    content: '1.';
    margin-right: 5px;
    color: #0a276d;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: -20px;
}

ol.list-1 > li:nth-child(2):before {
    content: '2.';
    margin-right: 5px;
    color: #0a276d;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: -20px;
}

ol.list-1 > li:nth-child(3):before {
    content: '3.';
    margin-right: 5px;
    color: #0a276d;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: -20px;
}

ol.list-1 > li:nth-child(4):before {
    content: '4.';
    margin-right: 5px;
    color: #0a276d;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: -20px;
}

ol.list-1 > li:nth-child(5):before {
    content: '5.';
    margin-right: 5px;
    color: #0a276d;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: -20px;
}

ol.list-1 > li:nth-child(6):before {
    content: '6.';
    margin-right: 5px;
    color: #0a276d;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: -20px;
}

ol.list-1 > li:nth-child(7):before {
    content: '7.';
    margin-right: 5px;
    color: #0a276d;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: -20px;
}

ol.list-1 > li:nth-child(8):before {
    content: '8.';
    margin-right: 5px;
    color: #0a276d;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: -20px;
}

ol.list-1 > li:nth-child(9):before {
    content: '9.';
    margin-right: 5px;
    color: #0a276d;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: -20px;
}

ol.list-1 > li:nth-child(10):before {
    content: '10.';
    margin-right: 5px;
    color: #0a276d;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: -20px;
}

ol.list-2 {
    margin-left: 10px;
    margin-top: 5px;
}

ol.list-2 > li {
    padding-left: 20px;
    margin-bottom: 5px;
}

ol.list-2 > li:last-child {
    margin-bottom: 0;
}

ol.list-2 > li:nth-child(1):before {
    content: '1)';
    margin-right: 5px;
    color: #0a276d;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: -20px;
}

ol.list-2 > li:nth-child(2):before {
    content: '2)';
    margin-right: 3px;
    color: #0a276d;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: -20px;
}

ol.list-2 > li:nth-child(3):before {
    content: '3)';
    margin-right: 5px;
    color: #0a276d;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: -20px;
}

ol.list-2 > li:nth-child(4):before {
    content: '4)';
    margin-right: 5px;
    color: #0a276d;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: -20px;
}

ol.list-2 > li:nth-child(5):before {
    content: '5)';
    margin-right: 5px;
    color: #0a276d;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: -20px;
}

ol.list-2 > li:nth-child(6):before {
    content: '6)';
    margin-right: 5px;
    color: #0a276d;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: -20px;
}

ol.list-2 > li:nth-child(7):before {
    content: '7)';
    margin-right: 5px;
    color: #0a276d;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: -20px;
}

ol.list-2 > li:nth-child(8):before {
    content: '8)';
    margin-right: 5px;
    color: #0a276d;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: -20px;
}

ol.list-2 > li:nth-child(9):before {
    content: '9)';
    margin-right: 5px;
    color: #0a276d;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: -20px;
}

ol.list-2 > li:nth-child(10):before {
    content: '10)';
    margin-right: 5px;
    color: #0a276d;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: -20px;
}

ol.list-3 {
    margin-left: 10px;
    margin-top: 5px;
}

ol.list-3 > li {
    padding-left: 20px;
    margin-bottom: 5px;
}

ol.list-3 > li:last-child {
    margin-bottom: 0;
}

ol.list-3 > li:nth-child(1):before {
    content: '①';
    margin-right: 5px;
    color: #0a276d;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: -20px;
}

ol.list-3 > li:nth-child(2):before {
    content: '②';
    margin-right: 3px;
    color: #0a276d;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: -20px;
}

ol.list-3 > li:nth-child(3):before {
    content: '③';
    margin-right: 5px;
    color: #0a276d;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: -20px;
}

ol.list-3 > li:nth-child(4):before {
    content: '④';
    margin-right: 5px;
    color: #0a276d;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: -20px;
}

ol.list-3 > li:nth-child(5):before {
    content: '⑤';
    margin-right: 5px;
    color: #0a276d;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: -20px;
}

ol.list-3 > li:nth-child(6):before {
    content: '⑥';
    margin-right: 5px;
    color: #0a276d;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: -20px;
}

ol.list-3 > li:nth-child(7):before {
    content: '⑦';
    margin-right: 5px;
    color: #0a276d;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: -20px;
}

ol.list-3 > li:nth-child(8):before {
    content: '⑧';
    margin-right: 5px;
    color: #0a276d;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: -20px;
}

ol.list-3 > li:nth-child(9):before {
    content: '⑨';
    margin-right: 5px;
    color: #0a276d;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: -20px;
}

ol.list-3 > li:nth-child(10):before {
    content: '⑩';
    margin-right: 5px;
    color: #0a276d;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: -20px;
}

/* mobile img button */
.btn-m-img {
    display: none;
}

/* btns */
.btn-link:after {
    display: inline-block;
    content: '';
    width: 12px;
    height: 12px;
    background-image: url(/img/common/i-link.svg);
    background-repeat: no-repeat;
    margin-left: 10px;
    vertical-align: middle;
}

.btns-wrap {
    margin-bottom: 30px;
}

.btn-wrap {}

.btn-wrap.right {
    text-align: right;
}

.btn-shortcut {
    color: #5840df;
    border: 1px solid #7c64ff;
    padding: 0 12px 4px 12px;
    border-radius: 4px;
    display: inline-block;
    font-size: 16px;
    background-color: #fff;
}

.btn-shortcut span {
    vertical-align: middle;
}

.btn-shortcut:after {
    content: '';
    display: inline-flex;
    width: 12px;
    height: 12px;
    background-image: url(/img/common/shortcut.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 5px;
    margin-bottom: 1px;
    vertical-align: middle;
}

.btn-shortcut-reversal {
    color: #fff;
    border: 1px solid #7c64ff;
    padding: 0 12px 4px 12px;
    border-radius: 4px;
    display: inline-block;
    font-size: 16px;
    background-color: #7c64ff;
}

.btn-shortcut span-reversal {
    vertical-align: middle;
}

.btn-shortcut-reversal :after {
    content: '';
    display: inline-flex;
    width: 12px;
    height: 12px;
    background-image: url(/img/common/shortcut-reversal.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 5px;
    margin-bottom: 1px;
    vertical-align: middle;
}

.btn-shortcut-b {
    color: #333;
    border: 1px solid #333;
    padding: 5px 10px;
    border-radius: 4px;
    display: inline-block;
    font-size: 14px;
    background-color: #fff;
}

.btn-shortcut-b span {
    vertical-align: middle;
}

.btn-shortcut-b:after {
    content: '';
    display: inline-flex;
    width: 16px;
    height: 16px;
    background-image: url(/img/common/shortcut-b.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 5px;
    margin-bottom: 3px;
    vertical-align: middle;
}

.Shortcut:before {
    content: '';
    display: inline-flex;
    width: 18px;
    height: 18px;
    background-image: url(/img/common/shortcut.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 7px;
    margin-top: 0px;
    vertical-align: middle;
}

.btns .btn {
    display: block;
    min-width: 90px;
    height: 40px;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
    letter-spacing: -1px;
    padding: 0 10px;
}

.btns.mt {
    margin-top: 30px;
}

.btns.right {
    float: right;
}

.btn.left {
    float: left;
}

.btn.ml {
    margin-left: 10px;
}

.btns .btn.blue {
    background-color: #0a276d;
    color: #fff;
}

.btns .btn.white {
    border: 1px solid #808080;
    box-sizing: border-box;
    color: #474747;
    background-color: #fff;
}

.btns .btn.grey {
    background-color: #474747;
    color: #fff;
}


/* 썸네일 리스트 */
.write_btns {
    position: absolute;
    right: 0;
    top: 0;
}

.write_btns .btn {
    border-radius: 3px;
}

.write_btns .btn.blue {
    background-color: #0a276d;
    color: #fff;
    font-size: 12px;
    padding: 5px 8px;
}

.write_btns .btn.grey {
    background-color: #474747;
    color: #fff;
    font-size: 12px;
    padding: 5px 8px;
}

/* //썸네일 리스트*/
/* //btns */
.box {
    border: 1px solid #ddd;
    box-sizing: border-box;
    background-color: #fff;
    padding: 20px;
}

.box.bg {
    background-color: #F6F7F9;
}

.box.inline {
    display: inline-block;
}

.box.mt40 {
    margin-top: 40px;
}

.box.mt30 {
    margin-top: 30px;
}

.box.mt20 {
    margin-top: 20px;
}

.box.mt10 {
    margin-top: 10px;
}

.box.mb40 {
    margin-bottom: 40px;
}

.box.mb30 {
    margin-bottom: 30px;
}

.box.mb20 {
    margin-bottom: 20px;
}

.box.mb10 {
    margin-bottom: 10px;
}

.boardBasic-box {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 14px;
    letter-spacing: 0;
}

.boardBasic-box p {}

.boardBasic-box.mt {
    margin-top: 20px;
}

.boardBasic-box.mb {
    margin-bottom: 20px;
}

.info-basics {
    font-size: 18px;
    color: #666;
}

.info-basics.mb40 {
    margin-bottom: 40px;
}

.info-basics p {
    margin-bottom: 30px;
}

.info-basics p:last-child {
    margin-bottom: 0;
}

.card-chart-1 {
    text-align: center;
}

.card-chart-1.mt40 {
    margin-top: 40px;
}

.card-img-1 {
    border: 1px solid #e0e6ef;
    box-sizing: border-box;
    background-color: #fff;
    text-align: center;
}

.card-img-1.box {
    padding: 50px;
}

.card-img-1 .tit {
    font-size: 15px;
    color: #333;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-img-2.bg {}

.card-img-2.bg .group {
    width: 48.75%;
    float: left;
}

.card-img-2 .group {
    width: 48.75%;
    float: left;
    margin-right: 2.5%;
}

.card-img-2 .group.box {
    border: 1px solid #e0e6ef;
    box-sizing: border-box;
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.card-img-2 .group.w570 {
    width: 57.5%;
    margin-right: 2.5%;
}

.card-img-2 .group.w570-auto {
    width: 40%;
}

.card-img-2 .group.w440 {
    width: 440px;
    margin-right: 40px;
}

.card-img-2 .group.w440-auto {
    width: calc(100% - 480px);
}

.card-img-2.bg .group.w440-auto {
    padding: 20px 40px 30px 0;
}

.card-img-2 .group:last-child {
    margin-right: 0;
}

.card-img-2 .group .bg1 {
    background-color: #f3f4f6;
    padding: 20px;
}

.card-img-2 .group .bg2 {
    background-color: #ecf3fb;
    padding: 20px;
}

.card-img-2 .group img.mb20 {
    margin-bottom: 10px;
}

.card-img-3 {}

.card-img-3 > .group {
    /* ie에서 버벅거림
    width: calc((100% - 60px)/3);
    margin-right: 30px;
*/
    width: 31.6%;
    margin-right: 2.5%;
    float: left;
}

.card-img-3 > .group:last-child {
    margin-right: 0;
    margin-bottom: 0;
}

.card-img-3 > .group2 {
    /* ie에서 버벅거림
    width: calc((100% - 60px)/3);
    margin-right: 30px;
*/
    width: 31.6%;
    margin-right: 2.5%;
    float: left;
}

.card-img-3 > .group2:last-child {
    margin-right: 0;
}

.card-img-3 > .group2 .box2,
.card-img-3 > .group .box2 {
    border: 1px solid #e0e6ef;
    box-sizing: border-box;
}

.card-img-3 > .group .box {
    border: 1px solid #e0e6ef;
    box-sizing: border-box;
    background-color: #fff;
    padding: 30px 40px 40px 40px;
}

/* custom height */
.card-img-3 > .group .box.h225 {
    min-height: 225px;
}

.card-img-3 > .group .box.h250 {
    min-height: 250px;
}

/* //custom height */
.card-img-3 > .group .box p {
    font-size: 15px;
    color: #666;
}

.card-img-3 > .group .box p strong {
    font-size: 18px;
    color: #333;
    display: block;
    margin-bottom: 20px;
}

.card-img-4 {}

.card-img-4 > .group {
    /* ie에서 버벅거림
    width: calc((100% - 90px)/4);
    margin-right: 30px;
*/
    width: 23.1%;
    margin-right: 2.5%;
    float: left;
}

.card-img-4 > .group:last-child {
    margin-right: 0;
}

.card-img-4 > .group > .box {
    border: 1px solid #e0e6ef;
    box-sizing: border-box;
    background-color: #fff;
    padding: 30px 40px 40px 40px;
}

/* custom height */
.card-img-4 > .group > .box.h250 {
    min-height: 250px;
}

/* //custom height */
.card-img-4 > .group > .box p {
    font-size: 14px;
    color: #666;
}

.card-img-4 > .group > .box p strong {
    font-size: 18px;
    color: #333;
    display: block;
    margin-bottom: 20px;
}

.card-img-4 > .group > .box ul li {
    font-size: 14px;
}

/* section group margin-bottom */
/* 여백 */
.section-mt70 {
    margin-top: 70px;
}

.section-mt70:last-child {
    margin-top: 100px;
}

.section-mb70 {
    margin-bottom: 70px;
}

.section-mb70:last-child {
    margin-bottom: 100px;
}

/* paging */
.paging.mt {
    margin-top: 60px;
}

.pagenav {
    display: table;
    margin: 0 auto;
}

.control,
.pages {
    float: left;
}

.control:first-child {
    margin-right: 20px;
}

.control:last-child {
    margin-left: 20px;
}

.paging a {
    display: block;
    width: 45px;
    height: 45px;
    line-height: 41px;
    border: 1px solid #CFD5DE;
    box-sizing: border-box;
    text-align: center;
}

.paging a.on {
    border-color: #0a276d;
    box-sizing: border-box;
    background-color: #0a276d;
    color: #fff;
}

.paging .p {
    display: block;
    float: left;
    margin-right: 5px;
    background-color: #fff;
}

.paging .p:last-child {
    margin-right: 0;
}

.paging .first {
    background-image: url(../img/i-paging-first.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 11px 11px;
}

.paging .last {
    background-image: url(../img/i-paging-last.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 11px 11px;
}

.paging .prev {
    background-image: url(../img/i-paging-prev.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 7px 11px;
}

.paging .next {
    background-image: url(../img/i-paging-next.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 7px 11px;
}

/* //paging */

/* 2021.06.10 추가(내주변 문화시설) */
.map_pin:before {
    content: '';
    display: inline-flex;
    width: 18px;
    height: 18px;
    background-image: url(/img/common/icon-pin1.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 7px;
    margin-top: 0px;
    vertical-align: middle;
}

.btn_black_line {
    min-width: 80px;
    color: #333;
    border: 1px solid #333;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
    font-size: 14px;
    background-color: #fff;
    padding: 5px 10px;
}

/* Media Query */
@media all and (max-width:1200px) {
    h2:before {
        width: 18px;
        height: 18px;
        background-size: 18px;
    }

    .cotn_title1 {
        font-size: 18px;
        padding-left: 28px;
        margin: 20px 0 10px 0;
    }

    .indent .font18 {
        font-size: 16px;
    }

    .br-1200 {
        display: block;
    }

    .btns .btn {
        min-width: 80px;
        height: 38px;
    }

    .sub-tab.mt100 {
        margin-top: 20px;
    }

    .sub-tabs li {
        min-width: 250px;
    }

    .sub-tabs.col5 li {
        min-width: 20%;
        padding: 13px 0;
        font-size: 15px;
    }

    .h2-tit {
        margin-top: 50px;
    }

    .info-basics p {
        font-size: 16px;
    }

    .card-img-1.box {
        padding: 40px;
    }

    .card-img-3 > .group .box {
        padding: 20px 20px 30px 20px;
    }

    .card-img-3 > .group .box p strong {
        font-size: 17px;
    }

    .card-img-4 > .group {
        width: 48.75%;
        text-align: center;
    }

    .card-img-4 > .group:nth-child(1) {
        margin-bottom: 40px;
    }

    .card-img-4 > .group:nth-child(2) {
        margin-right: 0;
        margin-bottom: 40px;
    }

    .card-img-4 > .group img {
        margin-bottom: 20px;
    }

    .card-img-4 > .group ul {
        text-align: left;
    }

    .card-img-4 > .group > .box.h250 {
        min-height: 220px;
    }

    .paging.mt {
        margin-top: 30px;
    }

    /* 2021.06.10 추가(문화가 있는 날) */
    .btn-shortcut-b {
        min-width: 90px;
        padding: 5px 6px;
    }

    .StatusIndication.venue {
        font-size: 13px;
        padding: 6px;
        width: 40px;
        height: 33px;
    }

    .main_wrap .StatusIndication {
        padding: 3px;
        width: 33px;
        height: 27px;
    }
}

@media all and (max-width:900px) {

    /* 테이블 가로 스크롤 */
    .mb_scroll {
        position: relative;
        margin: 0;
    }

    .mb_scroll .tbBox {
        position: relative;
        padding-top: 20px;
        width: 100%;
        overflow: auto;
    }

    .table_type1.mb_scroll .tbBox {
        padding-top: 30px;
    }

    .mb_scroll table {
        width: 640px;
    }

    .mb_scroll::before {
        position: absolute;
        top: 0;
        left: 50%;
        content: '표를 가로로 스크롤 해주세요';
        font-size: 14px;
        display: inline-block;
        padding: 0px 0 2px 40px;
        background: url(/img/common/mb-scroll.svg)left center no-repeat;
        transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        white-space: nowrap;
        font-weight: 500;
        color: #7c64ff;
    }

    .awards.mb_scroll::before {
        top: 30px;
    }

    .mb_scroll .tbBox table {
        width: 900px;
    }

    .boardBasic .type2 td a {
        margin-bottom: 10px;
    }

    /* .searchform .title 다른페이지에서도 사용하려고 .info_title 클래스로 똑같이 만듬 */
    .info_title {
        padding: 20px;
        font-size: 16px;
        text-align: left;
    }

    /* //테이블 가로 스크롤 */
    .br-900 {
        display: block;
    }

    .btns .btn {
        min-width: 74px;
        height: 36px;
    }

    .sub-tabs li {
        padding: 10px 0;
        font-size: 14px;
        min-width: 180px;
    }

    .sub-tabs.col5 li {
        min-width: inherit;
        padding: 13px 9px;
        font-size: 14px;
    }

    .scroll1cont {
        overflow-y: auto;
    }

    .t3-info-top:before,
    .t3-info-bottom:before {
        display: inline-block;
        content: '↔';
    }

    .t3-info-top {
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
        color: #888f9a;
    }

    .t3-info-bottom {
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        margin-top: 5px;
        color: #888f9a;
    }

    .t-wrap .t3 {
        width: 1200px;
        font-size: 14px;
    }

    .h2-tit {
        font-size: 28px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .group-inline3 {
        width: 48%;
    }

    .group-inline3:nth-child(3n) {
        margin-right: 2%;
    }

    .group-inline3:nth-child(2n) {
        margin-right: 0;
    }

    .card-img-1.box {
        padding: 20px;
    }

    .card-img-1 .tit {
        margin-bottom: 20px;
    }

    .card-img-2 .group.w440 {
        float: none;
        margin-right: 0;
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .card-img-2 .group.w440-auto {
        float: none;
        width: 100%;
    }

    .card-img-3 > .group {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        margin-right: 0;
    }

    .card-img-3 > .group img {
        max-width: 300px;
        width: 100%;
        margin-bottom: 20px;
    }

    .card-img-3 > .group .box.h250 {
        min-height: inherit;
    }

    .card-img-3 > .group .box p {
        font-size: 14px;
    }

    .card-img-3 > .group .box p strong {
        font-size: 14px;
        margin-bottom: 10px;
    }


}

@media all and (max-width:600px) {
    h2:before {
        width: 15px;
        height: 15px;
        top: 7px;
        background-size: 15px;
    }

    .cotn_title3 {
        font-size: 14px;
        margin: 10px 0px;
    }

    .cotn_title1 {
        font-size: 16px;
        padding-left: 25px;
        margin: 15px 0 5px 0;
    }

    .indent .font18 {
        font-size: 14px;
    }

    .indent {
        margin-left: 25px;
        font-size: 13px;
        line-height: 22px;
    }

    /* 정렬 */
    .s1 {
        width: 8.33333% !important;
    }

    .s2 {
        width: 16.66666% !important;
    }

    .s3 {
        width: 24.99999% !important;
    }

    .s4 {
        width: 33.33333% !important;
    }

    .s5 {
        width: 41.66666% !important;
    }

    .s6 {
        width: 49.99999% !important;
    }

    .s7 {
        width: 58.33333% !important;
    }

    .s8 {
        width: 66.66666% !important;
    }

    .s9 {
        width: 74.99999% !important;
    }

    .s10 {
        width: 83.33333% !important;
    }

    .s11 {
        width: 91.66666% !important;
    }

    .s12 {
        width: 99.99999% !important;
    }

    select {
        background-position: 96%;
    }

    /* margin */
    .s-m0 {
        margin: 0 !important;
    }

    .s-mt0 {
        margin-top: 0 !important;
    }

    .s-mt5 {
        margin-top: 5px !important;
    }

    .s-mt8 {
        margin-top: 8px !important;
    }

    .s-mt10 {
        margin-top: 10px !important;
    }

    .s-mt15 {
        margin-top: 15px !important;
    }

    .s-mt20 {
        margin-top: 20px !important;
    }

    .s-mt30 {
        margin-top: 30px !important;
    }

    .s-mt40 {
        margin-top: 40px !important;
    }

    .mt50 {
        margin-top: 50px !important;
    }

    .s-mb0 {
        margin-bottom: 0 !important;
    }

    .s-mb10 {
        margin-bottom: 10px !important;
    }

    .s-mb20 {
        margin-bottom: 20px !important;
    }

    .s-mb30 {
        margin-bottom: 30px !important;
    }

    .s-mb40 {
        margin-bottom: 40px !important;
    }

    .s-mb50 {
        margin-bottom: 0px !important;
    }

    .s-mr0 {
        margin-right: 0px !important;
    }

    .s-mr10 {
        margin-right: 10px !important;
    }

    .s-mr20 {
        margin-right: 20px !important;
    }

    .s-mr30 {
        margin-right: 30px !important;
    }

    .s-mr40 {
        margin-right: 40px !important;
    }

    .s-mr50 {
        margin-right: 50px !important;
    }

    .s-ml0 {
        margin-left: 0px !important;
    }

    .s-ml10 {
        margin-left: 10px !important;
    }

    .s-ml20 {
        margin-left: 20px !important;
    }

    .s-ml30 {
        margin-left: 30px !important;
    }

    .s-ml40 {
        margin-left: 40px !important;
    }

    .s-ml50 {
        margin-left: 50px !important;
    }

    /* padding */
    .s-p0 {
        padding: 0 !important;
    }

    .view-mobile {
        display: block;
    }

    .rwd-table td {
        display: block;
        width: 100%;
    }

    .input-span15 {
        display: block;
    }

    /* //정렬 */
    .br-600 {
        display: block;
    }

    .sub-tab.mt100 {
        margin-top: 0;
    }

    .sub-tabs li {
        width: 100%;
        margin-right: 0;
        margin-bottom: -1px;
    }

    .sub-tabs.col5 li {
        padding: 10px 0;
    }

    .sub-tabs li:last-child {
        margin-bottom: 0;
    }

    .sub-tabs li.current {
        margin-bottom: 0;
    }

    .tab-content {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    ol.list-1 > li {
        font-size: 14px;
    }

    ol.list-2 > li {
        font-size: 14px;
    }

    /* mobile img button */
    .img-m-wrap {
        border: 1px solid #ddd;
        background-color: #F6F7F9;
        padding: 10px;
    }

    .btn-m-img {
        display: inline-block;
        background-color: #fff;
        border: 1px solid #7c64ff;
        box-sizing: border-box;
        border-radius: 50px;
        padding: 0px 17px;
        margin-top: 10px;
        font-size: 14px;
        font-weight: 500;
        color: #7c64ff;
    }

    .btn-m-img span {
        vertical-align: middle;
    }

    .btn-m-img.mb20 {
        margin-bottom: 10px;
    }

    /* btn */
    .btns-wrap {
        margin-bottom: 10px;
    }

    .btns.right {
        float: none;
    }

    .btns .btn {
        min-width: 60px;
        height: 30px;
        border-radius: 3px;
        box-sizing: border-box;
        font-size: 14px;
        letter-spacing: -1px;
        padding-bottom: 1px;
    }

    .btns.mt {
        margin-top: 20px;
    }

    .btn.ml {
        margin-left: 5px;
    }

    .group-inline3 {
        width: 100%;
        margin-right: 0;
    }

    /* 썸네일 리스트 */
    .write_btns {
        position: static;
        text-align: center;
        margin: 10px 0;
    }

    /* //썸네일 리스트 */
    /* //btn */
    .h2-tit {
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 15px;
        color: #0a276d;
    }

    .h3-tit {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .h3-tit2 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .h4-tit.mt20 {
        margin-top: 20px;
    }

    .info-basics p {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .info-basics.mb40 {
        margin-bottom: 20px;
    }

    .card-chart-1 {
        border: 1px solid #e0e6ef;
        box-sizing: border-box;
        padding: 10px 10px 0 10px;
    }

    .card-img-1 .tit {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .card-img-2 .group {
        width: 100%;
        float: none;
        margin-right: 0;
        /*
        border: 1px solid #e0e6ef;
        box-sizing: border-box;
        text-align: center;
        padding: 10px 10px 0 10px;
*/
    }

    .card-img-2 .group.w570 {
        float: none;
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
    }

    .card-img-2 .group.w570-auto {
        float: none;
        margin-right: 0;
        width: 100%;
    }

    .card-img-2 .group img.mb20 {
        margin-bottom: 0;
    }

    .card-img-4 > .group {
        width: 100%;
        margin-right: 0;
    }

    .card-img-4 > .group:nth-child(1),
    .card-img-4 > .group:nth-child(2),
    .card-img-4 > .group:nth-child(3) {
        margin-bottom: 20px !important;
    }

    .card-img-4 > .group > .box {
        padding: 20px;
    }

    .card-img-4 > .group > .box.h250 {
        min-height: inherit;
    }

    .section-mt70 {
        margin-top: 40px;
    }

    .section-mt70:last-child {
        margin-top: 20px;
    }

    .section-mb70 {
        margin-bottom: 40px;
    }

    .section-mb70:last-child {
        margin-bottom: 20px;
    }

    /* paging */
    .control:first-child {
        margin-right: 10px;
    }

    .control:last-child {
        margin-left: 10px;
    }

    .paging.mt {
        margin-top: 20px;
    }

    .paging a {
        display: block;
        width: 30px;
        height: 30px;
        line-height: 25px;
    }

    .paging .p {
        margin-right: 3px;
    }

    .paging .last {
        margin-right: 0;
    }

    /* 2021.06.10 추가(내주변 문화시설) */
    .btn_black_line {
        min-width: 60px;
        font-size: 13px;
        padding: 5px 10px;
    }


}

@media all and (max-width:320px) {
    .br-320 {
        display: block;
    }
}

/* //Media Query */