@charset "utf-8";

/* Skip */
#accessibility {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 999999;
}

#accessibility a {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 25px;
    margin-top: -100px;
    width: 100%;
    text-align: center;
    line-height: 1;
    white-space: nowrap;
    background: #000
}

#accessibility a:link {
    color: #333;
}

#accessibility a:focus {
    margin-top: 0;
    color: #fff
}

#wrap {
    width: 100%;
    min-width: 320px;
    overflow: hidden;
}

/*** header ***/
#header-wrap {
    width: 100%;
    min-height: 74px;
    /* .content에 padding-top:74px이랑 같이 수정해줘야함 */
    /* .logo에 height: 73px은 1px작게 수정해줘야함 */
    background-color: #fff;
    border-bottom: 1px solid #DBDBDB;
    box-sizing: border-box;
    position: fixed;
    z-index: 200;
}

#header {
    max-width: 1400px;
    margin: 0 auto;
}

#header > .left {
    float: left;
}

#header > .right {
    float: right;
}

#header .logo {
    display: block;
    float: left;
}

#header .logo a {
    display: block;
    width: 66px;
    height: 73px;
    background-image: url(/img/common/logo_dabom.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.menu-pc {
    float: left;
    margin-left: 30px;
    font-size: 16px;
    color: #000;
}

.menu-mobile {
    display: none;
}

.top_menu {
    margin: 0;
    padding: 0;
}

.top_menu li {
    float: left;
    list-style: none;
}

.top_menu ul li {
    float: none;
}

.top_menu > li > a {
    display: block;
    color: #333;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    padding: 24px 15px 15px 15px;
}

.top_menu > li.vsbBtmBar > a {
    color: #5840df;
}

.top_menu > li > a:after {
    display: block;
    content: '';
    border-bottom: 7px solid #fff;
}

/*
.top_menu > li.vsbBtmBar > a:after,
*/
.top_menu > li > a:hover:after {
    display: block;
    content: '';
    border-bottom: 7px solid #C4BAFF;
    animation-name: step1-line;
    animation-duration: 0.4s;
    animation-timing-function: linear;
}

@keyframes step1-line {
    from {
        opacity: 0;
        width: 0;
    }

    to {
        opacity: 1;
        width: 100%;
    }
}

.top_menu > li ul li {
    text-align: left;
    font-size: 14px;
}

.top_menu ul > li a {
    color: #333;
    vertical-align: middle;
}

.step1 .step2-bg {
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    z-index: 2;
    background: #F6F7F9;
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
    display: none;
}

.step1 > li:nth-child(1) .step2-bg {
    background-image: url(/img/common/step2-bg-type1.png);
    background-repeat: no-repeat;
    background-position: center right 10%;
    padding: 50px 0 40px 0;
}

.step1 > li:nth-child(2) .step2-bg {
    background-image: url(/img/common/step2-bg-type2.png);
    background-repeat: no-repeat;
    background-position: center right 10%;
    padding: 50px 0 15px 0;
}

.step1 > li:nth-child(2) .step3.type1 > li {
    width: 100%;
}

.step1 > li:nth-child(3) .step2-bg {
    background-image: url(/img/common/step2-bg-type3.png);
    background-repeat: no-repeat;
    background-position: center right 11%;
    padding: 50px 0 15px 0;
}

.step1 > li:nth-child(3) .step2 > .line-h {
    width: 23%;
}

.step1 > li:nth-child(3) .step3.type1 > li {
    width: 100%;
}

.step1 > li:nth-child(4) .step2-bg {
    padding: 50px 0 50px 0;
}

.step1 > li:nth-child(5) .step2-bg {
    background-image: url(/img/common/step2-bg-type5.png);
    background-repeat: no-repeat;
    background-position: center right 16%;
    padding: 50px 0 60px 0;
}

.step1 > li:nth-child(5) .step3.type1 > li {
    width: 100%;
}

.step2-bg .step2 {
    width: 1148px;
    display: block;
    margin: 0 auto;
    overflow: hidden;
}

.step2-bg .step2 > li {
    display: block;
    float: left;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 7px;
}

.step2-bg .step2 > li > a {
    border-bottom: 7px solid transparent;
}

.step2-bg .step2 > li > a:hover {
    border-bottom: 7px solid #C4BAFF;
    animation-name: step2-line;
    animation-duration: 0.4s;
    animation-timing-function: linear;
}

@keyframes step2-line {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.step2-bg .step2.type1 > li {
    width: 39%;
    display: block;
}

.step2-bg .step2.type2 > li {
    width: 30%;
}

.step2-bg .step2.type3 > li {
    width: 19%;
}

.step2-bg .step2.type4 > li {
    width: 20%;
}

.step2-bg .step2.type5 > li {
    width: 26%;
}

.step2-bg .step2.type5 > li:nth-child(5) {
    /* margin-right: 30px; */
}

.step2-bg .step2.type1 > .line-h {
    border-right: 1px solid #DBDBDB;
    margin-right: 100px;
    width: calc(60% - 100px);
}

.step2-bg .step2 > li:before {
    display: inline-block;
    content: '';
    width: 6px;
    height: 6px;
    background-image: url(/img/common/i-list1.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 10px;
    vertical-align: middle;
}

.step2-bg .step3 {
    margin-top: 10px;
    padding-bottom: 40px;
}

.step2-bg .step3 > li {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
}

.step2-bg .step3 > li:before {
    display: inline-block;
    content: '';
    width: 2px;
    height: 2px;
    background-image: url(/img/common/i-list2.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 3px;
    margin-right: 10px;
    vertical-align: middle;
}

.step2-bg .step3.type1 > li {
    width: 100%;
}

.step1 > li:nth-child(1) .step2-bg .step3.type1 > li {
    width: 32%;
}

.step2-bg .step3.type2 > li {
    width: 100%;
}

.step2-bg .step3.type3 > li {
    width: 100%;
}

.step2-bg .step3.type4 > li {
    width: 100%;
}

.step2-bg .step3.type5 > li {
    width: 100%;
}

.step2-bg .step3.type6 > li {
    width: 100%;
}

.step2-bg .step3.type9 > li {
    width: 100%;
}

.step2-bg .step3 > li > a {
    border-bottom: 7px solid transparent;
}

.step2-bg .step3 > li > a:hover {
    border-bottom: 7px solid #C4BAFF;
    animation-name: step3-line;
    animation-duration: 0.4s;
    animation-timing-function: linear;
}

@keyframes step3-line {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.search-pc {
    float: left;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 15px;
    margin-right: 30px;
}

.search-pc form {
    overflow: hidden;
}

.search-pc form div {
    float: left;
}

.search-pc form div label {}

.search-pc form div input {
    font-size: 14px;
    border: 0;
    /*    line-height: 30px; ie때문에 주석처리 */
    padding: 0;
    height: 40px;
    letter-spacing: -1px;
    width: 208px;
}

.search-select select.selectbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.search-select select.selectbox::-ms-expand {
    display: none;
}

.search-select .selectbox {
    width: 100px;
    height: 40px;
    border: 0;
    box-sizing: border-box;
    color: #333;
    font-size: 14px;
    letter-spacing: -1px;
    font-weight: 400;
    background-image: url(/img/common/i-select.svg);
    background-repeat: no-repeat;
    background-position: right center;
    padding-left: 10px;
    border-radius: 4px;
}

.search-select.line-h:after {
    content: '';
    display: inline-block;
    border-right: 1px solid #EBEBEB;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
    height: 15px;
    vertical-align: middle;
}

.search-select .selectbox option {
    font-size: 14px;
}

.search-pc form .btn-search {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background-image: url(/img/common/btn-search.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.search-m-li {
    background-color: #F0F2F5;
    padding: 10px 20px;
}

.search-m {
    background-color: #fff;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 5px;
}

.search-m form {
    overflow: hidden;
}

.search-m form div {
    float: left;
}

.search-m form div:nth-child(2) {
    width: calc(100% - 168px);
}

.search-m form div label {}

.search-m form div input {
    font-size: 14px;
    background-color: transparent;
    border: 0;
    /*    line-height: 12px; ie때문에 주석처리*/
    padding: 0;
    height: 40px;
    width: 100%;
}

.search-m form .btn-search {
    display: block;
    float: right;
    width: 42px;
    height: 40px;
    background-image: url(/img/common/btn-search-m.svg);
    background-repeat: no-repeat;
    background-position: center 12px;
    background-color: #7c64ff;
    border-radius: 5px;
}


.gnb {
    float: left;
    height: 73px;
    line-height: 73px;
}

.gnb ul {}

.gnb ul li {
    float: left;
}

.gnb ul li a {
    font-size: 12px;
    font-weight: bold;
}

.gnb ul li button {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    letter-spacing: -1px;
}

.gnb ul li:nth-child(2) button {
    font-weight: 700;
}

.gnb ul .line-h:before {
    content: '';
    display: inline-block;
    border-left: 1px solid #EBEBEB;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
    height: 11px;
    vertical-align: middle;
}

/* menu button */
.menuBtn {
    height: 20px;
    width: 24px;
    position: absolute;
    right: 16px;
    top: 25px;
    z-index: 101;
}

.menuBtn > span {
    background-color: #333;
    border-radius: 1px;
    height: 1px;
    width: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -1px 0 0 -15px;
    -webkit-transition: height 100ms;
    transition: height 100ms;
}

.menuBtn > span:after,
.menuBtn > span:before {
    content: '';
    background-color: #333;
    border-radius: 1px;
    height: 1px;
    width: 24px;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    -webkit-transition: all 200ms;
    transition: all 200ms;
}

.menuBtn > span:after {
    top: -8px;
}

.menuBtn > span:before {
    bottom: -8px;
}

.menuBtn.act-m > span {
    height: 0;
}

.menuBtn.act-m > span:after,
.menuBtn.act-m > span:before {
    background-color: #fff;
    top: 0;
}

.menuBtn.act-m > span:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menuBtn.act-m > span:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* main menu block */
.mainMenu {
    background-color: #f9f9f9;
    /* position: absolute;*/
    /* header를 고정시키면서 메뉴도 고정으로 변경 */
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    display: table;
    text-align: center;
    display: none;
    /*    opacity: 0;  fixed처리하면서 주석함 */
}

.mainMenu.act-m {
    /*    opacity: 1;  fixed처리하면서 주석함 */
    display: block;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    /*-webkit-transform: scale(1);
          transform: scale(1);*/
    transition: opacity .50s ease-in-out;
    -moz-transition: opacity .50s ease-in-out;
    -webkit-transition: opacity .50s ease-in-out;
}

.quick-menu-m {
    display: none;
}

#lnb {
    position: relative;
    height: 100%;
    overflow-y: auto;
}

#lnb .header_member {
    text-align: left;
    padding-left: 20px;
    background: #7c64ff;
    position: fixed;
    display: block;
    width: 100%;
}

#lnb .header_member ul {
    line-height: 73px;
}

#lnb .header_member ul li {
    display: inline-block;
    margin-right: 10px;
}

#lnb .header_member ul li:last-child {
    margin-right: 0;
}

#lnb .header_member ul li button {
    font-size: 18px;
    letter-spacing: -2px;
    color: #fff;
}

#lnb > ul {
    padding-top: 73px;
}

#lnb > ul > li {
    border-bottom: 1px solid #dcdcdc;
    box-sizing: border-box;
    text-align: left;
    display: block;
    width: 100%;
}

#lnb > ul > li > a {
    display: block;
    padding: 10px 20px;
    color: inherit;
    font-size: 16px;
    font-weight: bold;
    background: url(/img/common/i-open.svg) no-repeat right 25px center;
    background-color: #fff;
}

#lnb > ul > li a:hover {
    text-decoration: underline;
    text-underline-position: under;
}

#lnb > ul > li.on > a {
    color: #333;
    background: #FAFCFF url('/img/common/i-close.svg') no-repeat right 25px center;
}

#lnb > ul > li ul {
    display: none;
}

#lnb > ul > li > ul > li > a:before {
    content: '-';
    display: inline-block;
    margin-right: 5px;
}

#lnb > ul > li > ul > li > a {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    background: #F0F2F5 url('/img/common/i-open.svg') no-repeat right 25px center;
}

#lnb > ul > li > ul > li > a {
    color: #333;
    background-color: #F0F2F5;
}

#lnb > ul > li > ul > li.on a {
    background: #F0F2F5 url('/img/common/i-close.svg') no-repeat right 25px center;
}

#lnb > ul > li > ul > li.on > a,
#lnb > ul > li > ul > li > ul > li.on > a {
    font-weight: bold;
}

#lnb > ul > li > ul > li ul li a {
    padding-left: 40px;
}

#lnb > ul > li > ul > li ul li a:before {
    content: '-';
    display: inline-block;
    margin-right: 5px;
}

#lnb > ul > li > ul li ul {
    display: none;
    padding-bottom: 8px;
    background-color: #F0F2F5;
}

#lnb > ul > li > ul li li a {
    display: block;
    padding: 10px 20px;
    color: #333;
    font-size: 16px;
    background-color: #F0F2F5;
}

#lnb > ul li.noDepth a {
    background-image: none !important;
}

/*** //header ***/

/*** content ***/
/** sub-header **/
#wrap > .content {
    padding-top: 74px;
    /* border-bottom: 1px solid #ddd; */
}

#wrap > .content.sub > .header-sub {
    border-bottom: 1px solid #ebebeb;
    background-color: #fff;
}

/* header-sub-title */
.header-sub-title {
    width: 100%;
    background-image: url(/img/common/top_img.jpg);
    min-height: 150px;
    text-align: center;
    display: table;
}

.top_img1 {
    background-image: url(/img/common/top_img1.jpg);
}

.top_img2 {
    background-image: url(/img/common/top_img2.jpg);
}

.top_img3 {
    background-image: url(/img/common/top_img3.jpg);
}

.top_img4 {
    background-image: url(/img/common/top_img4.jpg);
}

.top_img5 {
    background-image: url(/img/common/top_img5.jpg);
}



.header-sub-title p {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.header-sub-title span {
    font-size: 14px;
    color: #fff;
    display: block;
    font-weight: 700;
    text-shadow: 0px 3px 3px rgb(0 0 0 / 16%);
}

.header-sub-title .tit {
    font-size: 26px;
    margin-bottom: 10px;
}

.header-sub-group {
    max-width: 1400px;
    /* min-height: 52px; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.header-sub-info {
    vertical-align: middle;
}

/* //header-sub-title */

/* location */
.location-wrap {
    width: 100%;
    border-bottom: 1px solid #E0E6EF;
    overflow: hidden;
    margin-bottom: 28px;
}

.location {
    vertical-align: middle;
}

.location p {
    color: #999;
}

.location p span {
    font-size: 14px;
    color: #333;
}

.location p .home img {
    margin-bottom: 4px;
}

.location p .arrow:after {
    content: '';
    display: inline-block;
    width: 5px;
    height: 10px;
    margin: 0 10px;
    background-image: url(/img/common/i-location-arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.location p span:last-child.arrow:after {
    display: none;
}

.location p span:last-child a {
    color: #5840df;
    font-weight: 500;
}

/* 형광펜
    .location p span {
        display: block;
        content: '';
        border-bottom: 10px solid rgb(124 100 255 / 20%);
        margin-top: -10px;
    }
    */

/* //location */

/* guide_video_sub */
.guide_video_sub {
    vertical-align: middle;
    display: inline-block;
}

.guide_video_sub .tit {
    font-size: 14px;
    vertical-align: middle;
    font-weight: 700;
    color: #333;
}

.guide_video_sub_wrap {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 1103;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.guide_video_sub:after {
    display: inline-block;
    content: '';
    width: 40px;
    height: 25px;
    background-image: url(/img/common/i-info.svg);
    background-position: left center;
    background-repeat: no-repeat;
    vertical-align: middle;
    border-right: 1px solid #dbdbdb;
    margin-left: 3px;
    margin-right: 10px;
}

.guide_video_sub_con {
    position: absolute;
    overflow: hidden;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1103;
}

.guide_video_sub_con .title {
    width: 100%;
    background: #fff;
}

.guide_video_sub_con .title .guide_video_sub_tit:before {
    content: '';
    display: block;
    float: left;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    background-image: url(/img/common/i-info.svg);
    background-repeat: no-repeat;
}

.guide_video_sub_con .title .guide_video_sub_tit {
    float: left;
    margin: 13px 0 13px 20px;
    font-size: 17px;
    color: #000;
}

.guide_video_sub_con .title .guide_video_sub_close {
    float: right;
    font-size: 0;
}

.guide_video_sub_con .title .guide_video_sub_close:before {
    content: '';
    display: block;
    margin: 15px;
    width: 20px;
    height: 20px;
    background-image: url(/img/common/i-close_black.svg);
    background-repeat: no-repeat;
    cursor: pointer;
}

.guide_video_sub_con .iframe {
    position: relative;
    padding-top: 65%;
}

.guide_video_sub_con .iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.guide_video_sub_bg {
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    width: 100vh;
    height: 100vh;
    /* transform: translate(-50%, -50%); */
    background-color: #000;
    opacity: .5;
    z-index: 6;
}

/* //guide_video_sub */

/* sns shar */
.header-sub-info .sns {
    display: inline-block;
}

.header-sub-info .sns ul {
    display: inline-block;
}

.header-sub-info .sns ul li {
    display: inline-block;
    margin-right: 10px;
}

.header-sub-info .sns ul li:last-child {
    margin-right: 0;
}

.header-sub-info .sns ul li a {
    display: block;
}

/* //sns shar */
/** //sub-header **/

/* con */
#subcontent {
    min-height: 364px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 60px 0 70px 0;
}

#subcontent .inner {}

.content_inner {
    max-width: 1400px;
    overflow: hidden;
    margin: 20px auto;
}

.content_inner2 {
    max-width: 1400px;
    overflow: hidden;
    margin: 20px auto;
    padding: 0 20px;
}

/* //con */
/*** //content ***/

/*** footer ***/
.footer {}

/* 링크모음 */
.link-wrap {
    width: 100%;
    border-top: 1px solid #DBDBDB;
}

.link {
    max-width: 1400px;
    background-color: #fff;
    margin: 0 auto;
    padding: 14px 0;
}

.internal {
    display: block;
    float: left;
    padding: 4px 0;
}

.internal ul {}

.internal ul li {
    float: left;
    vertical-align: middle;
}

.internal ul li:after {
    display: inline-block;
    content: '';
    height: 20px;
    vertical-align: middle;
    border-right: 1px solid #DBDBDB;
    margin-right: 20px;
    padding-right: 20px;
}

.internal ul li:last-child:after {
    border-right: 0;
}

.internal ul li a {
    font-size: 14px;
    color: #555;
    display: inline;
}

.internal ul li a.em {
    font-weight: 700;
    color: #000;
}

.outside {
    float: right;
}

.outside form {}

.outside form > div {
    float: left;
}

.outside form > div.mr {
    margin-right: 10px;
}

.outside select.selectbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.outside select.selectbox::-ms-expand {
    display: none;
}

.outside .selectbox {
    width: 170px;
    height: 34px;
    border: 1px solid #dbdbdb !important;
    box-sizing: border-box;
    color: #000;
    font-size: 14px;
    letter-spacing: -1px;
    font-weight: 500;
    background-image: url(/img/common/i-select.svg);
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-left: 10px;
    border-radius: 4px;
    margin-right: 0;
}

.outside .selectbox option {
    font-size: 14px;
}

/* 링크모음 */
/* 하단정보 */
.footer-info-wrap {
    background-color: #333;
}

.footer-info {
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px 0 117px 0;
}

.logo-info {
    float: left;
}

.logo-info .logo {
    float: left;
}

.logo-info .txt {
    float: left;
    max-width: 755px;
    margin-left: 40px;
}

.logo-info .copyright {
    margin-top: 10px;
    letter-spacing: 0;
}

.logo-info .txt p {
    font-size: 14px;
    color: #ccc;
    font-family: 'NotoSansKR';
    line-height: 22px;
}

.sns-newsletter {
    display: block;
    float: right;
}

.sns-newsletter .sns {
    float: left;
    margin-top: 9px;
}

.sns-newsletter .sns-list-footer {}

.sns-list-footer li {
    float: left;
    margin-right: 20px;
}

.sns-list-footer li:last-child {
    margin-right: 0;
}

.sns-list-footer li a {}

.sns-list-footer li a:focus-visible {
    outline: 2px dotted #fff;
    outline-offset: 6px;
}

.sns-newsletter .newsletter {
    float: left;
    margin-left: 20px;
}

.newsletter a {
    display: block;
    border: 1px solid #999;
    border-radius: 4px;
    padding: 0px 20px 0px 20px;
    line-height: 35px;
}

.newsletter a:focus-visible {
    outline: 2px dotted #fff;
    outline-offset: 3px;
}

.newsletter span {
    font-size: 16px;
    color: #fff;
    vertical-align: middle;
}

.newsletter img {
    margin-left: 20px;
    vertical-align: middle;
}

/* //하단정보 */
/*** //footer ***/

/*** back-to-top ***/
#back-to-top {
    display: inline-block;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#back-to-top:focus-visible {
    outline: 2px dotted #fff;
    outline-offset: 3px;
}

#back-to-top img {
    width: 50px;
    height: 50px;
}

#back-to-top:hover {
    cursor: pointer;
}

#back-to-top.show {
    opacity: 1;
    visibility: visible;
}

/*** //back-to-top ***/

/*** quick menu ***/
#floating,
#floating2 {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 1103;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#layer_chatbot {
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1103;
}

/* #floating2 {
    background-image: url(/img/common/check_tit.svg);
    background-repeat: no-repeat;
    background-color: #fcf8e5;;
} */
#layer_chkEvent {
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1103;
    width: 420px;
}

.chkbtn {
    position: relative;
}

.chkbtn .chkEvent_close {
    position: absolute;
    top: 13px;
    right: 10px;
    font-size: 23px;
    color: #793605;
    width: 35px;
    border-radius: 30px;
    /* background-color:#e8e8e8; */
}

/*
#layer_chatbot iframe {
    width: auto;
    height: auto;
    max-width: 420px;
    max-height: 640px;
}
*/

.quick-menu {
    position: fixed;
    top: 50%;
    right: 30px;
    transform: translate(0, -50%);
    z-index: 10;
}

.quick-menu ul {}

.quick-menu ul li {}

.quick-menu ul li button {
    display: block;
    width: 50px;
    height: auto;
    /* border: 1px solid #ddd; */
    padding: 20px 0;
    color: #fff;
    text-align: center;
    font-weight: 400;
    line-height: 18px;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: -1px;
    margin-bottom: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.quick-menu ul .quick-icon1 button {
    background-color: #705af9;
}

.quick-menu ul .quick-icon2 button {
    background-color: #ff6764;
    padding: 15px 0;
}

.quick-menu ul .quick-icon2 button img {
    margin: 0;
}

.quick-menu ul li button span {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}


/* 퀵메뉴에 챗봇만 있을경우 */
.quick-menu ul li button img {
    margin-bottom: 5px;
}

/* //퀵메뉴에 챗봇만 있을경우 */

/* 추가 예시
.quick-menu ul li a {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin-top: -1px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.quick-menu ul .quick-icon1 button {
    background-image: url(/img/common/i-talk.svg);
}

.quick-menu ul .quick-icon2 a {
    background-image: url(/img/i-software-quick.svg);
}

.quick-menu ul .quick-icon3 a {
    background-image: url(/img/i-certificate-quick.svg);
}

.quick-menu ul .quick-icon4 a {
    background-image: url(/img/i-remote-quick.svg);
}

.quick-menu ul .quick-icon5 a {
    background-image: url(/img/i-opinion-quick.svg);
}

.quick-menu ul .quick-icon6 a {
    background-image: url(/img/i-faq-quick.svg);
}
/* //추가 예시 */

.quick-menu ul li.tit span {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 14px;
    text-align: center;
    line-height: 15px;
    letter-spacing: 0;
    padding-top: 8px;
    background-color: #7C64FF;
    color: #fff;
    border-radius: 3px 3px 0 0;
}

/* 챗봇 */
#layer_chatbot .chat_top {
    background-color: #fff;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 11px 20px;
    border-bottom: 1px solid #ccc;
}

#layer_chatbot .chat_top .bot_home {}

#layer_chatbot .chat_top h3 {
    font-size: 18px;
}

#layer_chatbot .chat_top .bot_close {}


#iframe_popupevent {
    width: 420px;
    height: 640px;
    background-color: #f8d9c3;
    background-image: url(/images/main/checkEvt_pc.jpg);
    /*수정 : pc버전 배경*/
    background-repeat: no-repeat;
    background-size: 100%;
}

@media (max-width: 600px) {

    #layer_chatbot iframe {
        width: 320px;
        height: 520px;
    }

    #iframe_popupevent {
        width: 320px;
        height: 550px;
        background-image: url(/images/main/checkEvt_m.jpg);
        /*수정 : mobile버전 배경*/
    }

    #layer_chkEvent {
        width: 320px;
    }

    .chkbtn .chkEvent_close {
        position: absolute;
        top: 10px;
        right: 5px;
        font-size: 20px;
    }

}

/*** //quick menu ***/


/* Media Query */
@media all and (max-width:1400px) {

    /*** header ***/
    #header {
        padding-left: 20px;
        padding-right: 20px;
    }

    .step1 > li:nth-child(1) .step2-bg {
        background-position: center right 6%;
    }

    .step1 > li:nth-child(3) .step2-bg {
        background-position: center right 2%;
    }

    .step1 > li:nth-child(5) .step2-bg {
        background-position: center right 7%;
    }

    .step2-bg .step2 {
        width: 100%;
        margin-left: 132px;
    }

    .step2-bg .step2.type1 > .line-h {
        width: calc(45% - 100px);
        margin-right: 50px;
    }

    .step2-bg .step2.type2 > li {
        width: 17%;
    }

    .step2-bg .step2.type4 > li {
        width: 17%;
    }

    .step2-bg .step2.type5 {
        width: 70%;
    }

    .step2-bg .step2.type5 > li {
        width: 26%;
    }

    .step2-bg .step3.type1 > li {
        width: 49%;
    }

    .step2-bg .step2.type3 > li {
        width: 14%;
    }

    .step1 > li:nth-child(3) .step2 > .line-h {
        width: 18%;
    }

    /*** //header ***/

    /*** content ***/
    /* header-sub-title */
    .header-sub-group {
        padding: 10px 20px;
    }

    /* //header-sub-title */

    /* guide_video_sub */
    /* //guide_video_sub */

    /* con */
    #subcontent {
        padding: 40px 20px 50px 20px;
    }

    #subcontent .inner {}

    /* //con */
    /*** //content ***/

    /*** footer ***/
    .link {
        padding: 14px 20px;
    }

    .logo-info .txt {
        margin-left: 30px;
    }

    .outside .sns-list-footer li {
        margin-right: 15px;
    }

    .outside .newsletter {
        margin-left: 15px;
    }

    .footer-info {
        padding: 50px 20px 117px 20px;
    }

    /*** //footer ***/
}

@media all and (max-width:1250px) {

    /*** footer ***/
    .footer-info {
        padding: 0;
    }

    .logo-info {
        float: none;
        padding: 0 20px 60px 20px;
    }

    .sns-newsletter {
        float: none;
        margin-bottom: 20px;
        border-bottom: 1px solid #212121;
        padding: 30px 20px 20px 30px;
    }

    /*** //footer ***/
}

@media all and (min-width:1200px) {

    /*** header ***/
    .mainMenu.act-m {
        display: none !important;
    }

    /*** //header ***/
    /*** footer ***/
    /*** //footer ***/
}

@media all and (max-width:1200px) {

    /*** header ***/
    .menu-pc {
        display: none;
    }

    /* pc메뉴
    .top_menu > li > a {
        font-size: 16px;
        font-weight: 500;
        padding: 24px 10px 10px 15px;
    }

    .step1 .step2-bg {
        padding: 30px 0 40px 0;
    }

    .step2-bg .step2 > li {
        font-size: 16px;
    }

    .step2-bg .step3 > li {
        font-size: 14px;
    }

    .step2-bg .step2.type1 > .line-h {
        margin-right: 50px;
        width: calc(40% - 50px);
    }
    */
    #header .right {
        float: left;
        margin-left: 40px;
    }

    .search-pc form div input {
        width: 180px;
    }

    .gnb {}

    .menu-mobile {
        display: block;
    }

    /*** //header ***/

    .footer_inner {
        width: 100%;
        padding: 10px 0;
    }

    .foot_quick ul li {
        min-width: auto;
        font-size: 14px;
        padding: 12px 20px;
    }

    .foot_quick ul li:before {
        width: 18px;
        height: 22px;
    }

    .foot_quick ul li.foot_icon1:before,
    .foot_quick ul li.foot_icon2:before,
    .foot_quick ul li.foot_icon3:before,
    .foot_quick ul li.foot_icon4:before,
    .foot_quick ul li.foot_icon5:before,
    .foot_quick ul li.foot_icon6:before {
        background-size: 98%;
    }

    .foot_logo {
        float: none;
        width: 100%;
    }

    .foot_info {
        float: none;
        width: 100%;
        margin-top: 20px;
    }
}

@media all and (max-width:950px) {

    /*** footer ***/
    .sns-newsletter {
        padding: 20px 0;
        position: absolute;
        right: 20px;
        border: 0;
    }

    .sns-newsletter .sns {}

    .sns-newsletter .newsletter {}

    .logo-info {
        padding: 0 20px 40px 20px;
    }

    .logo-info .logo {
        float: none;
        margin-bottom: 20px;
        padding-top: 20px;
    }

    .logo-info .txt {
        float: none;
        max-width: 755px;
        margin-left: 0;
    }

    /*** //footer ***/
}

@media all and (max-width:900px) {

    /*** header ***/
    #header .left {
        float: left;
    }

    /* pc메뉴
    .step1 .step2-bg.type1 {
        background-image: none;
    }

    .step2-bg .step2.type1 > li {
        width: 45%;
    }

    .step2-bg .step2.type1 > .line-h {
        width: 45%;
    }

    .step2-bg .step2.type2 > li {
        width: 33%;
    }
    */
    /*** //header ***/

    /*** content ***/
    /* guide_video_sub */
    .guide_video_sub_con {
        width: 70%;
    }

    /* //guide_video_sub */
    /*** //content ***/

    /*** footer ***/
    .internal {}

    .outside {}

    /*** //footer ***/

    .foot_quick ul li {
        width: calc(100% / 3);
    }

    .copyright {}

    .foot_logo {
        display: block;
        padding-right: 10px;
        margin-bottom: 0;
    }

    .time_info dl {
        margin-bottom: 0;
        margin-top: 5px;
    }

    .foot-list .foot-link span a {
        font-size: 14px;
    }

    .foot-list .foot-link span.line-h:after {
        margin-left: 15px;
        margin-right: 15px;
    }

    .site-select .selectbox {
        width: 200px;
        font-size: 14px;
    }

    .foot_info dt {
        font-size: 13px;
    }

    .foot_info dd {
        margin-right: 15px;
    }

    .number_text {
        font-size: 18px;
    }

    .foot_info dd.add_line {
        margin-right: 15px;
    }

    .foot_info dd.add_line:after {
        margin-left: 15px;
    }

    .company_info {
        margin-top: 10px;
    }
}

@media all and (max-width:820px) {

    /*** footer ***/
    .link {
        padding: 0;
    }

    .internal {
        float: none;
        padding: 15px 20px;
        margin-bottom: 15px;
        border-bottom: 1px solid #ebebeb;
        text-align: center;
    }

    .internal ul {
        display: inline-block;
        margin-bottom: -5px;
    }

    .outside {
        float: none;
        padding: 0 20px 15px 19px;
        display: block;
        text-align: center;
    }

    .outside form {
        display: inline-block;
        margin-bottom: -5px;
    }

    .logo-info .txt p {
        display: inline;
    }

    .logo-info p.copyright {
        display: block;
    }

    /*** //footer ***/
}

@media all and (max-width:700px) {

    /*** header ***/
    .gnb {
        display: none;
    }

    /*** //header ***/
    /*** content ***/
    /* location */
    .location-wrap {}

    .location {
        /* margin-top: -5px; */
        /* background-color: rgb(124 100 255 / 20%); */
        /* padding: 6px; */
        /* margin: 0 -20px; */
        text-align: center;
    }

    .location p {
        text-align: center;
        display: inline-block;
    }

    .location p span {
        font-weight: 500;
        font-size: 13px;
    }

    .location p .home img {}

    .location p .arrow:after {
        margin: 0 1px 0 5px;
    }

    .location p span:last-child.arrow:after {}

    .location p span:last-child {}

    /* //location */

    /* guide_video_sub */
    .guide_video_sub_con {
        width: calc(100% - 40px);
    }

    .guide_video_sub:after {
        height: 20px;
        background-size: 20px;
        width: 35px;
    }

    /* //guide_video_sub */

    /* sns shar */
    .header-sub-info .sns {}

    .header-sub-info .sns:before {}

    .header-sub-info .sns ul {}

    .header-sub-info .sns ul li {}

    .header-sub-info .sns ul li a {}

    /* //sns shar */
    /*** //content ***/
}

@media all and (max-width:600px) {

    /*** header ***/
    #header-wrap {
        width: 100%;
        min-height: 55px;
    }

    #header .logo a {
        width: 119px;
        height: 55px;
        background-image: url(/img/common/logo_dabom-m.png);
    }

    .search-pc {
        display: none;
    }

    .search-m {
        margin: 0 -5px;
    }

    #lnb .header_member ul {
        line-height: 55px;
    }

    #lnb .header_member ul li button {
        font-size: 15px;
    }

    #lnb > ul {
        padding-top: 55px;
    }

    .quick-menu-m {
        text-align: right;
        display: block;
    }

    .quick-menu-m button {
        background-color: #7c64ff;
        border-radius: 51px;
        padding: 10px 20px;
        margin: 15px;
    }

    .quick-menu-m img {
        vertical-align: middle;
    }

    .quick-menu-m span {
        vertical-align: middle;
        color: #fff;
    }

    .menuBtn {
        top: 19px;
    }

    .quick-menu-m .quick-menu-btn2 {
        padding: 5px 20px;
        background-color: #ff6764;
        margin-left: 0;
    }

    .chkEvt_box .chkEvt_info .chkEvt_ml10 {
        margin-left: 10px;
    }

    /*** //header ***/

    /*** content ***/
    /* header-sub-title */
    .header-sub-title {
        min-height: auto;
        padding: 10px 20px 15px 20px;
    }

    .header-sub-title p {}

    .header-sub-title span {}

    .header-sub-title .tit {
        margin-bottom: 5px;
    }

    .header-sub-group {
        flex-wrap: wrap;
        min-height: 40px;
        padding-bottom: 7px;
        justify-content: start;
        display: block;
        padding: 5px 20px 10px 20px;
        background-color: #f6f7f9;
    }

    .header-sub-info {
        margin-top: 6px;
        text-align: center;
    }

    /* //header-sub-title */

    /* con */
    #subcontent {
        padding: 20px 20px 30px 20px;
    }

    .location p {
        margin: 0 -20px;
    }

    /* //con */
    .content_inner {
        padding: 20px;
    }

    .content_inner2 {
        padding: 0 20px;
    }

    /*** //content ***/

    /*** footer ***/
    .internal ul li:after {
        padding-right: 13px;
        margin-right: 13px;
    }

    .outside .selectbox {
        max-width: 134px;
    }

    .sns-newsletter {
        position: static;
        padding: 20px;
        margin-bottom: 0;
        text-align: center;
    }

    .logo-info .logo {
        padding-top: 0;
        text-align: center;
    }

    .sns-newsletter .sns {
        float: none;
        display: inline-block;
        vertical-align: middle;
        margin-top: 3px;
    }

    .sns-newsletter .newsletter {
        float: none;
        display: inline-block;
        vertical-align: middle;
    }

    .logo-info .txt,
    .logo-info .txt p {
        text-align: center;
        line-height: 18px;
    }

    /*** //footer ***/

    /*** back-to-top ***/
    /*** //back-to-top ***/

    #wrap > .content {
        padding-top: 55px;
    }

    .foot-list {
        display: none;
    }

    .foot_quick .footer_inner {
        padding: 20px;
    }

    .foot_quick ul li {
        width: 50%;
        float: left;
        text-align: left;
        padding: 5px 10px;
        font-size: 13px;
    }

    .foot_quick ul li:before {
        display: none;
    }

    .foot_info dt {
        display: block;
    }

    .foot_info dd {
        display: block;
    }

    .time_info dl {
        width: 100%;
        margin-top: 0;
    }

    .time_info dl dd.add_line:after {
        display: none;
    }

    .time_info .bg_white {
        width: 90px;
        text-align: center;
    }

    .company_info {}

    .company_info dt {}

    .company_info dd {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .company_info dd span {}

    .copyright {
        padding: 0 20px 10px 20px;
    }

    .quick-menu {
        display: none;
    }
}

@media all and (max-width:410px) {

    /*** footer ***/
    .internal ul li:after {
        margin-right: 6px;
        padding-right: 6px;
    }

    .internal ul li:last-child:after {
        margin-right: 0;
        padding-right: 0;
    }

    .internal ul li a {
        font-size: 13px;
    }

    .sns-newsletter .sns {
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
    }

    .sns-newsletter .newsletter {
        margin-left: 0;
        /* margin-top: 15px; */
    }

    .logo-info {
        padding: 0 20px 30px 20px;
    }

    /*** //footer ***/
}

@media all and (max-width:370px) {

    /*** //header ***/
    .quick-menu-m {
        width: 200px;
        float: right;
    }

    .quick-menu-m .quick-menu-btn2 {
        margin-top: -5px;
    }

    /*** footer ***/
    .sns-newsletter .sns {
        display: block;
        text-align: center;
    }

    .sns-newsletter .sns-list-footer {
        display: inline-block;
    }

    .sns-newsletter .newsletter {
        display: inline-block;
        margin-left: 0;
    }

    /*** //footer ***/
}

@media all and (max-width:320px) {}

/* //Media Query */