@charset "utf-8";

/* 슬라이드 : 개인전 템플릿 오른쪽 분할 */
.slider1 {
    width: 100%;
}

.slider1 .type1 .comment-art-con-group {
    display: flex;
}

.slider1 .type1 .comment-wrap {
    /* float: left; */
    width: 23%;
    margin-right: 4%;
    order: 1;
}

.slider1 .type1 .comment {
    overflow-y: auto;
    max-height: 473px;
    padding-bottom: 20px;
}

.slider1 .type1 .comment p {
    font-size: 14px;
    color: #555;
}

.slider1 .type1 .comment .m-bg {
    display: none;
}

.slider1 .type1 .writer-info {
    margin-top: 50px;
}

.slider1 .type1 .writer-info:before {
    display: block;
    content: '';
    border-top: 1px solid #434343;
    width: 60px;
    padding-top: 20px;
}

.slider1 .type1 .writer-info p {
    font-size: 14px;
    color: #999;
    letter-spacing: 0;
    margin-bottom: 20px;
}

.slider1 .type1 .writer-info p:last-child {
    margin-bottom: 0;
}

.slider1 .type1 .writer-info .tit {
    color: #333;
    font-weight: 500;
    display: block;
    font-size: 14px;
}

.slider1 .type1 .homepage {}

.type1 .homepage a {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 250px;
}

.slider1 .type1 .cpyrht {}

.slider1 .type1 .cpyrht span {
    display: block;
    color: #555;
}

.slider1 .type1 .cpyrht img {
    width: 70px !important;
    height: auto !important;
    margin: 10px 0;
}

.slider1 .type1 .e-mail {}

.slider1 .type1 .sns-list {}

.slider1 .type1 .sns {
    display: inline-block;
}

.slider1 .type1 .btn-sns {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.slider1 .type1 .art-con {
    /* float: left; */
    width: 73%;
    order: 2;
    padding: 0 20px;
    position: relative;
}

.slider1 .type1 .art-con img {}

.slider1 .type1 .art-con p {
    font-size: 14px;
    color: #333;
    margin-top: 20px;
}

.slider1 .type1 .art-con .step-tit {
    margin-right: 15px;
}

.slider1 .type1 .art-con .step-txt {
    color: #000;
    font-weight: 500;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media all and (max-width:1400px) {
    .slider1 .type1 .comment {
        max-height: 369px;
    }
}

@media all and (max-width:1200px) {
    .slider1 .type1 {}

    .slider1 .type1 .comment-wrap {
        /* float: inherit; */
        width: 30%;
    }

    .slider1 .type1 .comment {
        /* padding: 20px; */
        /* border: 1px solid #ddd; */
        max-height: 222px;
    }

    .slider1 .type1 .comment p {
        /* color: #333; */
    }

    .slider1 .type1 .writer-info {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    /*
    .slider1 .type1 .writer-info:before {
        display: none;
    }
*/

    .slider1 .type1 .writer-info p {
        display: inline-block;
        margin-right: 30px;
    }

    .slider1 .type1 .writer-info p:last-child {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .slider1 .type1 .writer-info .tit {
        /* display: inline-block; */
        /* margin-right: 10px; */
    }

    .slider1 .type1 .art-con {
        /* float: inherit; */
        width: 66%;
    }
}

@media all and (max-width:900px) {
    .slider1 .type1 .comment-wrap {
        width: 35%;
    }

    .slider1 .type1 .comment {
        max-height: 116px;
    }

    .slider1 .type1 .art-con {
        width: 60%;
    }
}

@media all and (max-width:600px) {
    .slider1 .type1 .art-con p {
        margin-top: 10px;
    }

    .btn_area1-wrap .btn_area1 {
        margin-top: 20px;
    }

    .slider1 .type1 .comment-wrap {
        margin-right: 0;
        width: 100%;
        order: 2;
        margin-top: 10px;
        position: relative;
    }

    .slider1 .type1 .comment {
        max-height: 100px;
        overflow-y: auto;
        padding-bottom: 0;
    }

    .slider1 .type1 .comment .m-bg {
        display: block;
        width: 100%;
        height: 50px;
        background-image: linear-gradient(to bottom, rgba(246, 247, 249, 0), rgba(246, 247, 249, 1));
        position: absolute;
        top: 50px;
    }

    .slider1 .type1 .art-con {
        width: 100%;
        order: 1;
    }

    .slider1 .type1 .writer-info p {
        margin-bottom: 5px;
    }
}

/* //슬라이드 : 개인전 템플릿 오른쪽 분할 */

/* 슬라이드 :  개인전 템플릿 2분할 */
.slider1 .type2 .comment-art-con-group {
    display: flex;
    flex-direction: column;
}

.slider1 .type2 .comment-wrap {
    /* float: left; */
    width: 100%;
    margin-top: 20px;
    order: 2;
}

.slider1 .type2 .comment {
    overflow-y: auto;
    max-height: 80px;
    padding-bottom: 20px;
}

.slider1 .type2 .comment p {
    font-size: 14px;
    color: #555;
}

.slider1 .type2 .comment .m-bg {
    display: none;
}

.slider1 .type2 .writer-info {
    margin-top: 30px;
    display: flex;
    border-top: 1px solid #dbdbdb;
    padding-top: 20px;
    justify-content: flex-end;
}

/*
.slider1 .type2 .writer-info:before {
    display: block;
    content: '';
    border-top: 1px solid #434343;
    width: 60px;
    padding-top: 20px;
}
*/

.slider1 .type2 .writer-info p {
    font-size: 14px;
    color: #999;
    letter-spacing: 0;
    margin-right: 40px;
}

.slider1 .type2 .writer-info p:last-child {
    margin-right: 0;
}

.slider1 .type2 .writer-info .tit {
    color: #333;
    font-weight: 500;
    display: block;
    font-size: 14px;
}

.slider1 .type2 .homepage {}

.slider1 .type2 .homepage a {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 250px;
}

.slider1 .type2 .cpyrht {}

.slider1 .type2 .cpyrht span {
    color: #555;
}

.slider1 .type2 .cpyrht img {
    width: 70px !important;
    height: auto !important;
    margin-left: 10px;
}

.slider1 .type2 .e-mail {}

.slider1 .type2 .sns-list {}

.slider1 .type2 .sns {
    display: inline-block;
}

.slider1 .type2 .btn-sns {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 1px;
}

.slider1 .type2 .btn-sns img {
    display: block;
}

.slider1 .type2 .art-con-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
}

.slider1 .type2 .art-con {
    /* float: left; */
    width: 49%;
    order: 1;
}

.slider1 .type2 .art-con img {}

.slider1 .type2 .art-con p {
    font-size: 14px;
    color: #333;
    margin-top: 20px;
}

.slider1 .type2 .art-con .step-tit {
    margin-right: 15px;
}

.slider1 .type2 .art-con .step-txt {
    color: #000;
    font-weight: 500;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media all and (max-width:1200px) {
    .slider1 .type2 .writer-info p {
        margin-right: 10px;
    }

    .slider1 .type2 .homepage {
        width: 25%;
    }
}

@media all and (max-width:900px) {
    .slider1 .type2 .writer-info {
        flex-wrap: wrap;
    }

    .slider1 .type2 .writer-info p {
        margin-right: 10px;
        width: 48%;
    }

    .slider1 .type2 .homepage {
        width: 50%;
    }

    .slider1 .type2 .writer-info {
        justify-content: flex-start;
    }
}

@media all and (max-width:829px) {
    .slider1 .type2 .cpyrht span {
        display: block;
    }

    .slider1 .type2 .cpyrht img {
        margin-left: 0;
    }
}

@media all and (max-width:600px) {
    .slider1 .type2 .art-con-wrap {
        flex-direction: column;
    }

    .slider1 .type2 .art-con {
        width: 100%;
    }

    .slider1 .type2 .art-con:nth-child(2) {
        margin-top: 15px;
    }

    .slider1 .type2 .art-con p {
        margin-top: 5px;
    }

    .slider1 .type2 .writer-info {
        flex-direction: column;
        border-top: 0;
        padding-top: 0;
    }

    .slider1 .type2 .writer-info:before {
        display: block;
        content: '';
        border-top: 1px solid #434343;
        width: 60px;
        padding-top: 20px;
    }

    .slider1 .type2 .writer-info p {
        width: 100%;
        margin-right: 0;
    }

    .slider1 .type2 .cpyrht img {
        margin-bottom: 5px;
    }
}

/* //슬라이드 :  개인전 템플릿 2분할 */

/* 슬라이드 : 개인전 템플릿 1분할 */
.slider1 .type3 .comment-art-con-group {
    display: flex;
    flex-direction: column;
}

.slider1 .type3 .comment-wrap {
    /* float: left; */
    width: 100%;
    margin-top: 20px;
    order: 2;
}

.slider1 .type3 .comment {
    overflow-y: auto;
    max-height: 80px;
    padding-bottom: 20px;
}

.slider1 .type3 .comment p {
    font-size: 14px;
    color: #555;
}

.slider1 .type3 .comment .m-bg {
    display: none;
}

.slider1 .type3 .writer-info {
    margin-top: 30px;
    display: flex;
    border-top: 1px solid #dbdbdb;
    padding-top: 20px;
    justify-content: flex-end;
}

/*
.slider1 .type3 .writer-info:before {
    display: block;
    content: '';
    border-top: 1px solid #434343;
    width: 60px;
    padding-top: 20px;
}
*/

.slider1 .type3 .writer-info p {
    font-size: 14px;
    color: #999;
    letter-spacing: 0;
    margin-right: 40px;
}

.slider1 .type3 .writer-info p:last-child {
    margin-right: 0;
}

.slider1 .type3 .writer-info .tit {
    color: #333;
    font-weight: 500;
    display: block;
    font-size: 14px;
}

.slider1 .type3 .homepage {}

.slider1 .type3 .homepage a {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 250px;
}

.slider1 .type3 .cpyrht {}

.slider1 .type3 .cpyrht span {
    color: #555;
}

.slider1 .type3 .cpyrht img {
    width: 70px !important;
    height: auto !important;
    margin-left: 10px;
}

.slider1 .type3 .e-mail {}

.slider1 .type3 .sns-list {}

.slider1 .type3 .sns {
    display: inline-block;
}

.slider1 .type3 .btn-sns {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 1px;
}

.slider1 .type3 .btn-sns img {
    display: block;
}

.slider1 .type3 .art-con-wrap {
    display: flex;
    justify-content: space-between;
}

.slider1 .type3 .art-con {
    /* float: left; */
    width: 100%;
    order: 1;
    padding: 0 20px;
    position: relative;
}

.slider1 .type3 .art-con img {}

.slider1 .type3 .art-con p {
    font-size: 14px;
    color: #333;
    margin-top: 20px;
}

.slider1 .type3 .art-con .step-tit {
    margin-right: 15px;
}

.slider1 .type3 .art-con .step-txt {
    color: #000;
    font-weight: 500;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media all and (max-width:1200px) {
    .slider1 .type3 .writer-info p {
        margin-right: 10px;
    }

    .slider1 .type3 .homepage {
        width: 25%;
    }
}

@media all and (max-width:900px) {
    .slider1 .type3 .writer-info {
        flex-wrap: wrap;
    }

    .slider1 .type3 .writer-info p {
        margin-right: 10px;
        width: 48%;
    }

    .slider1 .type3 .homepage {
        width: 50%;
    }

    .slider1 .type3 .writer-info {
        justify-content: flex-start;
    }
}

@media all and (max-width:829px) {
    .slider1 .type3 .cpyrht span {
        display: block;
    }

    .slider1 .type3 .cpyrht img {
        margin-left: 0;
    }
}

@media all and (max-width:600px) {
    .slider1 .type3 .art-con-wrap {
        flex-direction: column;
    }

    .slider1 .type3 .art-con {
        width: 100%;
    }

    .slider1 .type3 .art-con:nth-child(2) {
        margin-top: 15px;
    }

    .slider1 .type3 .art-con p {
        margin-top: 5px;
    }

    .slider1 .type3 .writer-info {
        flex-direction: column;
        border-top: 0;
        padding-top: 0;
    }

    .slider1 .type3 .writer-info:before {
        display: block;
        content: '';
        border-top: 1px solid #434343;
        width: 60px;
        padding-top: 20px;
    }

    .slider1 .type3 .writer-info p {
        width: 100%;
        margin-right: 0;
    }

    .slider1 .type3 .cpyrht img {
        margin-bottom: 5px;
    }
}

/* //슬라이드 : 개인전 템플릿 1분할 */

/* 슬라이드 : 개인전 템플릿 왼쪽분할 */
.slider1 .type4 .comment-art-con-group {
    /* display: flex; */
}

.slider1 .type4 .comment-wrap {
    /* float: left; */
    width: 100%;
    /* margin-right: 4%; */
    /* order: 1; */
}

.slider1 .type4 .comment {
    overflow-y: auto;
    max-height: 600px;
    padding-bottom: 20px;
}

.slider1 .type4 .comment p {
    font-size: 14px;
    color: #555;
}

.slider1 .type4 .comment .m-bg {
    display: none;
}

.slider1 .type4 .writer-info {
    margin-top: 30px;
    display: flex;
    border-top: 1px solid #dbdbdb;
    padding-top: 20px;
    justify-content: flex-end;
}

/*
.slider1 .type4 .writer-info:before {
    display: block;
    content: '';
    border-top: 1px solid #434343;
    width: 60px;
    padding-top: 20px;
}
*/

.slider1 .type4 .writer-info p {
    font-size: 14px;
    color: #999;
    letter-spacing: 0;
    margin-right: 40px;
}

.slider1 .type4 .writer-info p:last-child {
    margin-right: 0;
}

.slider1 .type4 .writer-info .tit {
    color: #333;
    font-weight: 500;
    display: block;
    font-size: 14px;
}

.slider1 .type4 .homepage {}

.slider1 .type4 .homepage a {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 250px;
    vertical-align: middle;
}

.slider1 .type4 .cpyrht {}

.slider1 .type4 .cpyrht span {
    color: #555;
}

.slider1 .type4 .cpyrht img {
    width: 70px !important;
    height: auto !important;
    margin-left: 10px;
}

.slider1 .type4 .e-mail {}

.slider1 .type4 .sns-list {}

.slider1 .type4 .sns {
    display: inline-block;
}

.slider1 .type4 .btn-sns {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 1px;
}

.slider1 .type4 .btn-sns img {
    display: block;
}

.slider1 .type4 .art-con {
    float: left;
    width: 50%;
    /* order: 2; */
    margin-right: 30px;
    margin-bottom: 20px;
    padding: 20px 0 0 20px;
    position: relative;
}

.slider1 .type4 .art-con img {}

.slider1 .type4 .art-con p {
    font-size: 14px;
    color: #333;
    margin-top: 20px;
}

.slider1 .type4 .art-con .step-tit {
    margin-right: 15px;
}

.slider1 .type4 .art-con .step-txt {
    color: #000;
    font-weight: 500;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media all and (max-width:1400px) {
    .slider1 .type4 .comment {
        max-height: 550px;
    }
}

@media all and (max-width:1200px) {

    .slider1 .type4 .comment {
        max-height: 450px;
    }

    .slider1 .type4 .writer-info p {
        margin-right: 10px;
    }

    .slider1 .type4 .homepage {
        width: 25%;
    }
}

@media all and (max-width:900px) {
    .slider1 .type4 .writer-info {
        flex-wrap: wrap;
    }

    .slider1 .type4 .writer-info p {
        margin-right: 10px;
        width: 48%;
    }

    .slider1 .type4 .homepage {
        width: 50%;
    }

    .slider1 .type4 .comment {
        max-height: 400px;
    }

    .slider1 .type4 .writer-info {
        justify-content: flex-start;
    }
}

@media all and (max-width:829px) {
    .slider1 .type4 .cpyrht span {
        display: block;
    }

    .slider1 .type4 .cpyrht img {
        margin-left: 0;
    }
}

@media all and (max-width:600px) {
    .slider1 .type4 .art-con {
        width: 100%;
        padding: 10px;
    }

    .slider1 .type4 .art-con p {
        margin-top: 5px;
    }

    .slider1 .type4 .writer-info {
        flex-direction: column;
        border-top: 0;
        padding-top: 0;
    }

    .slider1 .type4 .writer-info:before {
        display: block;
        content: '';
        border-top: 1px solid #434343;
        width: 60px;
        padding-top: 20px;
    }

    .slider1 .type4 .writer-info p {
        width: 100%;
        margin-right: 0;
    }

    .slider1 .type4 .cpyrht img {
        margin-bottom: 5px;
    }
}

/* //슬라이드 : 개인전 템플릿 왼쪽분할 */

/* modal-pop1 */
.modal-pop1 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 201;
    display: none;
}

.modal-pop1 .modal-con {
    /* width: 500px; */
    /* height: 500px; */
    overflow: hidden;
    /* background-color: #fff; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -49%);
    z-index: 202;
    display: block;
    /* border: 1px solid #444; */
    width: 90%;
}

.modal-pop1 .modal-con .modal-tit {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /* width: calc(100% - 24px); */
    display: block;
    margin-top: 10px;
}

.modal-pop1 .modal-close {
    display: block;
    position: absolute;
    top: 3%;
    left: 2%;
    z-index: 202;
}

.modal-pop1 .modal-close:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(/images/common/icon_close_white.png);
    background-repeat: no-repeat;
    background-position: center center;
}


.modal-pop1 .modal-con .content {
    /* height: calc(100% - 40px); */
    /* overflow-y: auto; */
    text-align: center;
    /* width: 100%; */
}

.modal-pop1 .modal-con .content img {
    max-height: 93vh;
    width: auto;
}

.modal-pop1 .modal-con .content .t1 th {
    text-align: left !important;
    padding-left: 20px !important;
    padding-right: 0 !important;
}

.modal-pop1 .modal-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.7;
    z-index: 201;
    display: block;
}

/* //modal-pop1 */